# Faz com que SQL seja considerada como uma linguagem no repositório
*.sql linguist-detectable=true
*.sql linguist-language=SQL


# (opcional) Ignora certos diretórios de contagem de linguagem
#*.md linguist-documentation
#*.txt linguist-documentation